<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Unofficial Konversation Windows Builds</title>

    <!-- Bootstrap core CSS -->
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="narrow-jumbotron.css" rel="stylesheet">
    <link href="custom.css" rel="stylesheet">

    <!-- Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-91673881-7', 'auto');
        ga('send', 'pageview');

        function addDl(name) {
            ga('send', 'event', 'Download', 'download', name);
        }
    </script>
    <!-- End Google Analytics -->
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link" target="_blank" href="https://konversation.kde.org/">Official Site</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </nav>
        <div>
            <img src="logo.png" id="logo">
            <h3 class="text-muted" id="brand">Unofficial Konversation<br/>Windows Builds</h3>
        </div>
        
      </div>

      <div class="row marketing">

        {{> builds}}
      </div>

      <footer class="footer">
        <p>&copy; rinukkusu 2017</p>
      </footer>

    </div> <!-- /container -->
  </body>
</html>